body{
	background-image: url("images/mountain.avif");
	background-size: 1990px;
}

header {
	color: black;
}

h1 {
	text-align: left;
	margin-top: 10px;
	margin-left: 10px;
	font-size: 48px;
	font-weight: 300;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

nav {
	text-align: right;
	margin-top: -60px;
	margin-right: 40px;
	font-size: 25px;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin: 10px 10px;
}

nav a {
	color: purple;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

main {
	text-align: center;
	margin-top: 60px;
	margin-right: 40px;
	font-size: 50px;
	text-shadow: 2px 2px 5px rgba(147, 7, 126, 0.5);
}

h2 {
	text-align: left;
	font-size: 40px;
	font-weight: 300;
	margin-top: 1px;
	margin-left: 10px;
	color: black;
	text-shadow: none;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-decoration: none;

}

h3 {
	text-align: left;
	font-size: 30px;
	font-weight: 300;
	margin-top: 1px;
	margin-left: 10px;
	color: black;
	text-shadow: none;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-decoration: none;

}

h5 {
	text-shadow: none;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-decoration: none;
	text-align: left;
	font-size: 25px;
	font-weight: 300;
	margin-top: 1px;
	margin-left: 10px;
}

h4 {
	color: black;
	font-family: 'Courier New', Courier, monospace;
}

/*green line on top for about page sections*/

section {
	border-top: 1px solid green;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

section > h3 {
	display: block;
	box-sizing: border-box;
	font-size: 0.83em;
	font-weight: 300;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

section > img {
	height: 130px;
	float: left;
	margin: 10px 10px 10px 10px;
	border-image-width: 30 round;
}

p {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 25px;
	margin-top: 1px;
	margin-left: 10px;
	color: black;
	text-align: left;
	text-shadow: none;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;

}

footer {
	background-color: purple;
	color: white;
	text-align: center;
	padding: 20px;
	


}

footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer li {
	display: inline-block;
	margin: 0 10px;
}

footer a {
	color: white;
	text-decoration: none;
	font-size: 25px;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

footer a:hover {
	text-decoration: underline;
}